<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% seo %}

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style/style.css">
    <script src="https://use.fontawesome.com/b0766ba693.js"></script>
    <script src="{{ site.baseurl}}/assets/js/typed.js"></script>
    <!--Google Analytics SCRIPT-->
    
    <!--Google Analytics SCRIPT END-->

    <!--Remove image dragging -->
    <BODY ondragstart="return false;" ondrop="return false;">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Racing+Sans+One|Zilla+Slab:400,400i,700,700i" rel="stylesheet">
    
    <!-- WEBSITE ICON IN BROWSER -->
    <link rel="icon" type="image/svg" href="/assets/img/icon.svg">

    

</head>
