<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is cloud foundry ?</h2>
                <p>Cloud Foundry is an open, informal, unopinionated, collaborative workshop for e-Infrastructure Engineers to relate their experience in building the next platform for e-Science.</p>
                <h2 class="section-heading">Is this for me?</h2>
                <p>Are you in a support, development or engineering role ? Do you care about the sustainability of research platforms ? Are you grappling with how to support large or diverse research communities ? Are  your users pushing for elastic, novel, or on-demand resources ? Are you ecstatic about new container and cloud platforms; or do you feel a nagging skepticism about them ? Do you want to tell the world how great X is ? Do you want to gripe about how everyone is doing Y wrong ? </p>
                <a href="#about" class="page-scroll btn btn-xl">I'm sold</a>  
            </div>
        </div>
        
    </div>
    
</section>
