<!-- jQuery Version 1.11.0 -->
<!-- typed title --> 
<script>
    var typed = new Typed('typed-title', {
        stringsElement: '#typed-title',
        typeSpeed: 150, 
        showCursor: true, 
        cursorChar: '_',
        loop: true,
        strings: ['<code>magic install cloud</code>', '<code>yum install container-platform</code>','<code>install black-magic</code>','ansible-playbook -i all-the-sites EpicCloud.yml', 'echo "now what !?"']
});
</script>

    <!-- Custom Theme JavaScript -->
<script src="{{ "assets/js/agency.js" | absolute_url }}"></script>  