<!DOCTYPE html>
<html>

  {% include head.html %}
  
    <body id="page-top" class="index">

  {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="assets/img/icon.svg" />
                <div class="intro-heading">
                    {{ site.data.event.event_title }}
                </div> <!-- intro-heading -->
                <div class="intro-lead-in">
                        25-26 October 2017<br>
                    {{ site.data.event.host }}</div>
                    <div class="intro-lead-in typed-title">
                    <span class="typed-title"></span>
                </div>
                    <a href="#intro" class="page-scroll btn btn-xl">What is this ?</a>
                <a href="#about" class="page-scroll btn btn-xl">Count me in</a>
                <!-- the span has the variable name-->  
                </div><!-- intro text -->
            </div> <!-- container-->
    </header>

    {% include intro.html %}
    {% include about.html %}
    {% include contact.html %}}
    {% include footer.html %}
    </body>
</html>