<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">
                    <img src="assets/img/icon.svg" />
                </div>
                <div class="intro-heading">Cloud Foundry 2017<br></div>
                <div class="intro-lead-in">24-25 October 2017</div>
                <div class="intro-lead-in">University of Johannesburg</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include intro.html %}
    {% include about.html %}
    <!-- {% include 2017_data/speakers.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/speakers_info.html %}-->
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>